@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body.show-modal .burger-backdrop {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
}
body.show-modal .burger-menu {
  transform: translateX(0);
}
.burger-backdrop {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 200;
  opacity: 0;
  visibility: hidden;
  transition: opacity 300ms ease-in-out, visibility 300ms ease-in-out;
}

.burger-menu {
  position: fixed;
  top: 0;
  right: 0;
  transform: translateX(100%);
  padding: 15px;
  border-radius: 20px 0px 0px 20px;
  width: 70%;
  height: 100vh;
  background-color: #fff;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 500ms ease-in-out;
}

.modal-close {
  display: block;
  margin: 0 auto;
}

.hero {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("/images/hero/hero-bg.png");
  background-size: cover;
}

.about-title::before,
.section-title-right::after,
.section-title-left::before {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #1a5319;
}

.about-description {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
    url("/images/about/about-bg.png");
  background-size: cover;
}

.input-control input:focus,
.input-control textarea:focus {
  outline: 0;
}

.input-control.success input {
  border-color: #09c372;
}

.input-control.error input {
  border-color: #ff3860;
}

.input-control.error textarea {
  border-color: #ff3860;
}

.input-control .error {
  color: #ff3860;
  font-size: 9px;
  height: 13px;
}

@media screen and (min-width: 1440px) {
  .input-control .error {
    font-size: 16px;
  }
}

.contact-us-wrap {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
    url("/images/contactus/contactus-bg.jpg");
  background-size: cover;
}

.form-modal-window-backdrop {
  @apply fixed top-0 left-0 w-full h-full bg-modalBg flex justify-center items-center z-50;
}

.form-modal-window {
  @apply w-[90%] md:w-[400px] xl:w-[500px] bg-white p-5 rounded-md text-center;
}

header {
  transition: top 0.3s ease;
}

.reviewsForm {
  @apply w-[90%] rounded-lg flex flex-col gap-3 p-4 bg-white md:w-[500px];
}
.review-form-btn {
  @apply text-white w-full md:w-48 bg-accent py-2 px-3 self-start text-sm md:text-base xl:text-lg xl:px-4 xl:mt-5 rounded-xl hover:bg-main hover:text-bgColor transition-all duration-300;
}

.sent-form-message {
  @apply p-5 bg-white rounded-lg flex flex-col gap-5 items-center justify-center;
}

.reviews-input-wrap {
  @apply flex flex-col gap-1;
}

.reviews-form-input {
  @apply w-full h-8 xl:h-9 border-secondColor focus:border-main border-2 rounded-lg p-2 text-xs xl:text-base text-slate-700;
}

.reviews-form-textarea {
  @apply resize-none w-full h-40 border-secondColor border-2 rounded-lg p-2 focus:border-main text-xs xl:text-base block text-slate-700;
}

.reviews-form-btn-wrap {
  @apply mt-3 flex flex-col gap-4 md:flex-row md:justify-center;
}

.no-reviews-text {
  @apply text-main text-base xl:text-xl mx-auto my-5;
}

.swiper-container {
  width: 100%;
  max-width: 1440px;
  margin: auto;
  overflow-x: hidden;

  @apply mt-5 pb-14;
  position: relative;
}

.swiper-container .swiper-wrapper {
  display: flex;
  width: 100%;
  max-width: 1440px;
  margin: auto;
}

.swiper-container .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  @apply xl:h-[300px];
}

.swiper-container .swiper-button-next {
  @apply text-secondColor top-[280px] xl:top-[290px] right-[30%] md:right-[40%] xl:right-[46%] border-secondColor border-2 rounded-full w-9 h-9 bg-white;
}
.swiper-container .swiper-button-prev {
  @apply text-secondColor top-[280px] xl:top-[290px] left-[30%] md:left-[40%] xl:left-[46%] border-secondColor border-2 rounded-full w-9 h-9 bg-white;
}

.swiper-button-next:after {
  @apply text-2xl;
}

.swiper-button-prev:after {
  @apply text-2xl;
}

.review-card {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  @apply rounded-lg flex flex-col gap-4 w-full h-full p-4 bg-cardsBg max-h-[450px] overflow-hidden;
}

.review-card .review-text {
  word-wrap: break-word;
  @apply italic text-xs xl:text-sm grow overflow-y-auto max-h-[150px] xl:max-h-[200px];
}

.review-name {
  word-wrap: break-word;
  max-width: 90%;
  @apply font-bold text-sm xl:text-base;
}

.review-date {
  @apply text-dateColor text-xs xl:text-sm;
}

.quotes-icon {
  @apply w-8 h-8 fill-secondColor;
}

.user-icon {
  @apply w-8 h-8 fill-secondColor;
}

.review-user-info {
  @apply flex flex-col w-full items-start;
}

.review-user-info-wrap {
  @apply flex gap-3 items-center;
}
